<!-- propertie-form/propertie-form.component.html -->

<h2 mat-dialog-title class="dialog-header">
  <span>Titre de la fenêtre</span>

  <!-- Bouton plein écran -->
  <button mat-icon-button (click)="toggleFullscreen()" [attr.aria-label]="isFullScreen ? 'Quitter le plein écran' : 'Passer en plein écran'">
    <mat-icon>{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>
</h2>

<mat-dialog-content>


    <form class="compact" [formGroup]="basicForm">
        <div class="flex flex-wrap">
            <div class="w-full">
                @for (item of fields;track item._id) {
                    <!---->
                    @if (isVisible(item.visibleClause)) {
                        @if (item.type == "5912f7034c3181110079e09e") {
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <input
                                        matInput
                                        name={{item._id}}
                                        [(ngModel)]="item.model[item._id]" 
                                        formControlName={{item._id}}
                                        placeholder={{item.placeholder}}
                                        value="">
                                </mat-form-field>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('minlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title require at least {{basicForm.controls[item._id].errors.minlength.requiredLength}} characters </small>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('maxlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title can not contain more than {{basicForm.controls[item._id].errors.maxlength.requiredLength}} characters </small>
                            </div>
                        }
                        <!---->
                        @if (item.type == "5912f7194c3181110079e09f") { 
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <textarea
                                    matInput 
                                    [(ngModel)]="item.model[item._id]" 
                                    name={{item._id}} 
                                    formControlName={{item._id}} 
                                    placeholder={{item.placeholder}}
                                    value="">
                                </textarea>
                                </mat-form-field>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('required') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Description is required </small>
                            </div>
                        }
                        <!---->
                        @if (item.type == "5912f82d4c3181110079e0a6") { 
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select [(value)]="item.model[item._id]" [(ngModel)]="item.model[item._id]" name={{item._id}} 
                                        formControlName={{item._id}} >
                                        <mat-option>None</mat-option>
                                        @for (item of item.datasource; track item.code) {
                                            <mat-option value="{{item.code}}">{{item.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <small *ngIf="basicForm.controls[item._id].hasError('required') && basicForm.controls[item._id].touched" 
                                    class="form-error-msg"> Description is required </small>
                            </div>
                        }
                        @if (item.type == "5912f8144c3181110079e0a4") { 
                            <div class="!pb-4">
                            <!--[(ngModel)]="isTopbarFixed" (change)="toggleTopbarFixed($event)" [disabled]="selectedLayout === 'top'" [value]="selectedLayout !== 'top'"-->
                                <mat-checkbox  [checked]="item.model[item._id]" [(ngModel)]="item.model[item._id]" 
                                        name={{item._id}} formControlName={{item._id}} >{{item.placeholder}}</mat-checkbox>
                            </div>
                        }
                        @if (item.type == "5a782af376657811002d0416") { 
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <input
                                        matInput
                                        name={{item._id}}
                                        [(ngModel)]="item.model[item._id]" 
                                        formControlName={{item._id}}
                                        placeholder={{item.placeholder}} 
                                        type="date"
                                        value="">
                                </mat-form-field>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('minlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title require at least {{basicForm.controls[item._id].errors.minlength.requiredLength}} characters </small>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('maxlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title can not contain more than {{basicForm.controls[item._id].errors.maxlength.requiredLength}} characters </small>
                            </div>
                        }
                        
                        @if (item.type == "5b766bd26820801400bb1980") { 
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <input
                                        matInput
                                        name={{item._id}}
                                        [(ngModel)]="item.model[item._id]" 
                                        formControlName={{item._id}}
                                        placeholder={{item.placeholder}} 
                                        type="color"
                                        value="">
                                </mat-form-field>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('minlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title require at least {{basicForm.controls[item._id].errors.minlength.requiredLength}} characters </small>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('maxlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title can not contain more than {{basicForm.controls[item._id].errors.maxlength.requiredLength}} characters </small>
                            </div>
                        }

                        <!--
                        ENTITY LINK
                        -->
                        @if (item.type == "5912f8194c3181110079e0a5") { 
                            <div class="!pb-4">
                                
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{item.placeholder}}
                                            </mat-panel-title>
                                            <!--<mat-panel-description>
                                                Type your name and age
                                            </mat-panel-description>-->
                                            </mat-expansion-panel-header>

                                            <ag-grid-angular 
                                                [theme]="agGridTheme"
                                                [rowData]="rowData"
                                                [columnDefs]="colDefs" ></ag-grid-angular>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('minlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title require at least {{basicForm.controls[item._id].errors.minlength.requiredLength}} characters </small>
                                <small 
                                *ngIf="basicForm.controls[item._id].hasError('maxlength') && basicForm.controls[item._id].touched" 
                                class="form-error-msg"> Title can not contain more than {{basicForm.controls[item._id].errors.maxlength.requiredLength}} characters </small>
                            </div>
                        }
                        
                    }
                    
                }

                

                <mat-divider></mat-divider>   
                
                <!--
                        ENTITY LINK
                        -->
                        
            </div>
        </div>
        
    </form>
        
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="basicForm.invalid">
    Enregistrer
  </button>
</mat-dialog-actions>