<div class="sm:mx-8 !pb-8">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mb-4">Full width card header</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae
        animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>

    </mat-card-content>
  </mat-card>
</div>