<div class="container">
  <!-- Edit Invoice -->
  <mat-card *ngIf="showEditOption" class="p-4">
    <form [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">
      <div class="flex justify-end items-center">
        <button mat-button type="button" class="ml-1 mr-1" *ngIf="!isLoading"
          (click)="showEditOption = !showEditOption">
          Cancel
        </button>

        <button-loading [loadingText]="'Saving...'" color="primary" [type]="'submit'"
          [loading]="isLoading">Save</button-loading>
      </div>

      <!-- order details -->
      <div class="flex flex-wrap justify-between order-info">
        <div class="flex flex-col w-1/3">
          <h4>Order Info</h4>
          <p>Order Number</p>
          <mat-form-field>
            <input formControlName="orderNo" matInput required placeholder="Order No." />
          </mat-form-field>
        </div>

        <div class="flex flex-col w-1/3">
          <div>
            <mat-radio-group class="flex flex-col justify-end items-end mb-5" required>
              <mat-radio-button labelPosition="before" value="pending" class="mb-1">Pending</mat-radio-button>
              <mat-radio-button labelPosition="before" value="processing" class="mb-1">Processing</mat-radio-button>
              <mat-radio-button labelPosition="before" value="delivered" class="mb-1">Delivered</mat-radio-button>
            </mat-radio-group>
          </div>

          <div>
            <p class="align-right">Order Date</p>
            <mat-form-field class="w-full">
              <input matInput [matDatepicker]="picker" required placeholder="Choose a date" formControlName="date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end of order details -->

      <mat-divider></mat-divider>

      <!-- billing details -->
      <div class="billing-address flex flex-wrap justify-between items-center">
        <!-- seller -->
        <div formGroupName="seller" class="flex flex-col w-1/3">
          <h4 class="mb-5">Bill From</h4>
          <mat-form-field class="mb-5">
            <input formControlName="name" matInput required placeholder="Name of Seller" />
          </mat-form-field>
          <mat-form-field class="mb-5">
            <textarea formControlName="address" matInput required matTextareaAutosize
              placeholder="Address of Seller"></textarea>
          </mat-form-field>
        </div>

        <!-- buyer -->
        <div formGroupName="buyer" class="flex flex-col justify-center items-end w-1/3">
          <h4>Bill To</h4>
          <mat-form-field class="w-full">
            <input formControlName="name" matInput required placeholder="Name of Buyer" />
          </mat-form-field>
          <mat-form-field class="w-full">
            <textarea formControlName="address" matInput required matTextareaAutosize
              placeholder="Address of Buyer"></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- end of billing details -->

      <!-- item form table -->
      <div formArrayName="item" class="item-form-list flex flex-col">
        <div class="item-form-list-head-line flex justify-around items-center mb-4">
          <p>#</p>
          <p>Item Name</p>
          <p>Unit Price</p>
          <p>Unit</p>
          <p>Cost</p>
          <p></p>
        </div>

        <div *ngFor="let item of invoiceItemFormArray.controls; let i = index" [formGroup]="item"
          class="form-rows flex justify-around items-center">
          <span>{{ i + 1 }}</span>
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Item Name" #name required />
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="price" matInput placeholder="Item Price" #price required />
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="unit" matInput placeholder="Item Unit" #unit required />
          </mat-form-field>
          <span>{{ unit.value * price.value }}</span>
          <button mat-button type="button" (click)="deleteItemFromInvoice(i)">
            Delete
          </button>
        </div>
        <!-- end of item form table -->

        <!-- add item button -->
        <div class="add-button">
          <button mat-button type="button" (click)="addNewItem(emptyFormObject)">
            Add Item
          </button>
        </div>
      </div>

      <!-- total cost of item form -->
      <div class="form-total-cost flex flex-col justify-center items-end">
        <!-- sub total -->
        <div class="flex justify-between items-center mb-3">
          <span>Sub Total:</span>
          <span>{{ currency }}{{ cost }}</span>
        </div>

        <!-- vat -->
        <div class="flex justify-between items-center mb-3">
          <span>Vat(%):</span>
          <div class="flex justify-end items-center">
            <mat-form-field class="mb-3">
              <input type="number" formControlName="vat" matInput placeholder="vat" required />
            </mat-form-field>
            <span>{{ currency }}{{ vat }}</span>
          </div>
        </div>

        <!-- grand total -->
        <div class="flex justify-between items-center">
          <h5>Grand Total:</h5>
          <div class="flex justify-end items-center">
            <mat-form-field class="mb-3">
              <input formControlName="currency" matInput placeholder="currency" required />
            </mat-form-field>
            <h5>
              <strong>{{ currency }}{{ cost + vat }}</strong>
            </h5>
          </div>
        </div>
      </div>
      <!-- end of total cost -->
    </form>
  </mat-card>
  <!-- end of edit invoice -->
  <!-- =================================================== -->

  <!-- =================================================== -->
  <!-- invoice details -->
  <mat-card *ngIf="!showEditOption" class="invoice-details p-4">
    <div class="flex">
      <button mat-icon-button routerLink="/invoice/list">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="flex-grow"></span>

      <button mat-flat-button color="primary" class="ml-4 rtl:mr-4 rtl:ml-4 mr-4 rtl:ml-4"
        (click)="showEditOption = !showEditOption">
        Edit Invoice
      </button>
      <button mat-flat-button color="accent" (click)="print()">
        Print Invoice
      </button>
    </div>
    <div id="print-area">
      <!-- order details -->
      <div class="order-info flex justify-between">
        <div>
          <h4>Order Info</h4>
          <p>Order Number</p>
          <p># {{ invoice?.orderNo }}</p>
        </div>

        <div>
          <p><strong>Order status: </strong> {{ invoice?.status }}</p>
          <p><strong>Order date: </strong> {{ invoice?.date | date }}</p>
        </div>
      </div>
      <!-- end of order details -->

      <mat-divider></mat-divider>

      <!-- billing details -->
      <div class="billing-address flex justify-between">
        <!-- seller -->
        <div>
          <h4>Bill From</h4>
          <p>{{ invoice?.seller?.name }}</p>
          <p>{{ invoice?.seller?.address }}</p>
        </div>

        <!-- buyer -->
        <div>
          <h4>Bill To</h4>
          <p>{{ invoice?.buyer?.name }}</p>
          <p>{{ invoice?.buyer?.address }}</p>
        </div>
      </div>
      <!-- end of billing details -->

      <!-- item table -->
      <div class="item-table mb-6">
        <mat-table [dataSource]="invoice.item" class="" #table>
          <!-- Number Column -->
          <ng-container matColumnDef="{{ itemTableColumn[0] }}">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </mat-cell>
          </ng-container>

          <!-- Item Name Column -->
          <ng-container matColumnDef="{{ itemTableColumn[1] }}">
            <mat-header-cell *matHeaderCellDef>
              {{ itemTableColumn[1] }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          </ng-container>

          <!-- Unit price Column -->
          <ng-container matColumnDef="{{ itemTableColumn[2] }}">
            <mat-header-cell *matHeaderCellDef>
              {{ itemTableColumn[2] }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
          </ng-container>

          <!-- Unit Column -->
          <ng-container matColumnDef="{{ itemTableColumn[3] }}">
            <mat-header-cell *matHeaderCellDef>
              {{ itemTableColumn[3] }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.unit }} </mat-cell>
          </ng-container>

          <!-- Cost column -->
          <ng-container matColumnDef="{{ itemTableColumn[4] }}">
            <mat-header-cell *matHeaderCellDef>
              {{ itemTableColumn[4] }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.unit * element.price }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="itemTableColumn"></mat-header-row>
          <mat-row *matRowDef="let row; columns: itemTableColumn"></mat-row>
        </mat-table>
      </div>
      <!-- end of table -->

      <!-- total cost -->
      <div class="total-cost flex justify-end">
        <div>
          <p>Sub Total:</p>
          <p>Vat:</p>
          <h5>Grand Total:</h5>
        </div>

        <div>
          <p>{{ currency }}{{ cost }}</p>
          <p>{{ currency }}{{ vat.toFixed(2) }}</p>
          <h5>
            <strong>{{ currency }}{{ (cost + vat).toFixed(2) }}</strong>
          </h5>
        </div>
      </div>
      <!-- end of total cost -->
    </div>
  </mat-card>
</div>