@use "../variables" as *;

.mdc-card, .egret-card {
  margin: .75rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: var(--shadow-card) !important;
  border-radius: var(--card-rounded) !important;
  background-color: rgb(var(--bg-card)) !important;
  // border: 1px solid rgb(var(--fg-divider-light)) !important;
}