<div class="sidebar-panel {{layoutConf?.sidebarColor}}">
    <div id="scroll-area" [perfectScrollbar] class="navigation-hold flex flex-col !bg-sidebar-bg">
        <div class="sidebar-hold">

            <!-- App Logo -->
            <div class="branding !bg-sidebar-bg">
                <img src="assets/images/egret.svg" alt="" class="app-logo">

                <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>
                <div class="sidebar-compact-switch" [ngClass]="{active: layoutConf.sidebarCompactToggle}"
                    (click)="toggleCollapse()" *ngIf="layoutConf.sidebarStyle !== 'compact'"><span></span></div>
            </div>
            <!-- Sidebar user -->
            <div class="app-user">
                <div class="app-user-photo">
                    <img src="assets/images/face-7.jpg" class="mat-elevation-z1" alt="">
                </div>
                <span class="app-user-name m-2 text-sidebar-text">
                    <mat-icon class="icon-xs !fill-sidebar-text">lock</mat-icon>
                    {{jwtAuth?.user?.displayName}}
                </span>
                <!-- Small buttons -->
                <div class="app-user-controls">
                    <a class="hover:bg-hover" mat-icon-button mat-xs-button [matMenuTriggerFor]="appUserMenu">
                        <mat-icon class="text-[18px] !flex justify-center items-center text-sidebar-text">settings</mat-icon>
                    </a>
                    <a class="hover:bg-hover" mat-icon-button mat-xs-button matTooltip="Inbox" routerLink="/inbox">
                        <mat-icon class="text-[18px] !flex justify-center items-center text-sidebar-text">email</mat-icon>
                    </a>
                    <a class="hover:bg-hover" mat-icon-button mat-xs-button matTooltip="Sign Out"
                        routerLink="/sessions/signin">
                        <mat-icon class="text-[18px] !flex justify-center items-center text-sidebar-text">exit_to_app</mat-icon>
                    </a>
                    <mat-menu #appUserMenu="matMenu">
                        <button mat-menu-item routerLink="/profile/overview">
                            <mat-icon>account_box</mat-icon>
                            <span>Profile</span>
                        </button>
                        <button mat-menu-item routerLink="/profile/settings">
                            <mat-icon>settings</mat-icon>
                            <span>Account Settings</span>
                        </button>
                        <button mat-menu-item routerLink="/calendar">
                            <mat-icon>date_range</mat-icon>
                            <span>Calendar</span>
                        </button>
                        <button mat-menu-item (click)="jwtAuth.signout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sign out</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Navigation -->
            <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem"
                [iconMenuTitle]="iconTypeMenuTitle" #sidenav></app-sidenav>
        </div>
    </div>
</div>