<div class="app-admin-wrap" [dir]='layoutConf?.dir'>
  <!-- Header for top navigation layout -->
  <app-header-top [notificPanel]="notificationPanel"></app-header-top>
  
  <!-- Main Container -->
  <mat-sidenav-container 
    [dir]='layoutConf.dir'
    class="app-admin-container app-side-nav-container mat-drawer-transition"
    [ngClass]="adminContainerClasses">
    <mat-sidenav-content>
      <!-- Top navigation layout (navigation for mobile screen) -->
      <app-sidebar-top *ngIf="layoutConf.isMobile"></app-sidebar-top>

      <!-- App content -->
      <div class="main-content-wrap" id="main-content-wrap" [perfectScrollbar]="scrollConfig" [disabled]="layoutConf.topbarFixed || !layoutConf.perfectScrollbar">
        <div class="rightside-content-hold" id="rightside-content-hold" [perfectScrollbar]="scrollConfig" [disabled]="!layoutConf.topbarFixed || !layoutConf.perfectScrollbar">
          <!-- View Loader -->
          <div class="view-loader flex flex-col items-center justify-center" *ngIf="isModuleLoading" style="position:fixed;">
            <div class="spinner">
              <div class="double-bounce1 mat-bg-accent"></div>
              <div class="double-bounce2 mat-bg-primary"></div>
            </div>
          </div>
          <!-- Breadcrumb -->
          <app-breadcrumb></app-breadcrumb>
          <!-- View outlet -->
          <div class="container-dynamic">
            <router-outlet></router-outlet>
          </div>
          <span class="m-auto" *ngIf="!layoutConf.footerFixed"></span>
          <app-footer *ngIf="!layoutConf.footerFixed"></app-footer>
        </div>
        <span class="m-auto" *ngIf="layoutConf.footerFixed"></span>
        <app-footer *ngIf="layoutConf.footerFixed"></app-footer>
      </div>
      
      <!-- View overlay for mobile navigation -->
      <div class="sidebar-backdrop"
        [ngClass]="{'visible': layoutConf.sidebarStyle !== 'closed' && layoutConf.isMobile}"
        (click)="closeSidebar()">
      </div>
    </mat-sidenav-content>

    <!-- Notification bar -->
    <mat-sidenav #notificationPanel mode="over" class="" position="end">
      <div class="nofication-panel">
        <app-notifications [notificPanel]="notificationPanel"></app-notifications>
      </div>
    </mat-sidenav>
    
    <egret-notifications2></egret-notifications2>
  </mat-sidenav-container>
</div> 