<div class="page-layout sm:mx-8 overflow-hidden pb-8">
  <!-- Left Sidebar -->
  <egret-sidebar name="layout-left-sidebar-card" [right]="true" class="egret-card" [opened]="true">
    <div class="sidebar-header mt-4 px-4">
      <h5 class="text-sm mb-0 font-semibold">Sidebar header</h5>
    </div>
    <div>
      <mat-list>
        <mat-list-item>List item 1</mat-list-item>
        <mat-list-item>List item 2</mat-list-item>
        <mat-list-item>List item 3</mat-list-item>
        <mat-list-item>List item 4</mat-list-item>
      </mat-list>
      <mat-selection-list>
        <mat-list-option>Selection item 1</mat-list-option>
        <mat-list-option>Selection item 2</mat-list-option>
        <mat-list-option>Selection item 3</mat-list-option>
        <mat-list-option>Selection item 4</mat-list-option>
      </mat-selection-list>
    </div>
  </egret-sidebar>

  <!-- body content -->
  <div class="content">
    <!-- content card -->
    <div class="content-body">
      <div class="egret-card flex flex-col">
        <!-- card header -->
        <div class="bg-card px-6 py-2 border-b border-divider rounded-t-md flex justify-between items-center h-[64px]">
          <span>Card toolbar</span>

          <button
            mat-icon-button
            egretSidebarToggler="layout-left-sidebar-card"
            class="!flex mr-2 rtl:ml-2"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <!-- Card body -->
        <div class="bg-card p-6">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
          sapiente earum aspernatur quia officia eaque beatae rem molestiae fuga
          tempora, architecto doloremque facilis, illum, soluta ducimus dolorum
          tempore nemo inventore! Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Minima sapiente earum aspernatur quia officia eaque
          beatae rem molestiae fuga tempora, architecto doloremque facilis,
          illum, soluta ducimus dolorum tempore nemo inventore! Lorem ipsum
          dolor, sit amet consectetur adipisicing elit. Minima sapiente earum
          aspernatur quia officia eaque beatae rem molestiae fuga tempora,
          architecto doloremque facilis, illum, soluta ducimus dolorum tempore
          nemo inventore! Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Minima sapiente earum aspernatur quia officia eaque beatae rem
          molestiae fuga tempora, architecto doloremque facilis, illum, soluta
          ducimus dolorum tempore nemo inventore! Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Minima sapiente earum aspernatur quia
          officia eaque beatae rem molestiae fuga tempora, architecto doloremque
          facilis, illum, soluta ducimus dolorum tempore nemo inventore!
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            commodi omnis consequuntur sint quos deleniti, accusantium iusto
            earum quia pariatur, quasi ea expedita fuga libero! Porro nisi dicta
            nemo laudantium.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
