<div class="event-dialog-wrapper">
  <mat-toolbar class="mat-primary m-0">
    <div class="flex justify-between items-center w-full py-2">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <span class="flex-grow"></span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-4 m-0">

    <form name="eventForm" [formGroup]="eventForm" class="event-form">
      <div class="flex flex-wrap pt-2">

        <div class="w-full">
          <mat-form-field class="full-width">
            <input matInput name="title" formControlName="title" placeholder="Title" required>
          </mat-form-field>
        </div>

        <div class="flex flex-col w-full" formGroupName="color">
          <mat-form-field class="w-full">
            <input matInput class="color-picker-input" name="primaryColor" formControlName="primary"
              placeholder="Primary color" [(colorPicker)]="event.color.primary" [style.background]="event.color.primary"
              (colorPickerChange)="eventForm.patchValue({color:{primary: event.color.primary}})" />
          </mat-form-field>

          <mat-form-field>
            <input matInput class="color-picker-input" name="secondaryColor" formControlName="secondary"
              placeholder="Secondary color" [(colorPicker)]="event.color.secondary"
              [style.background]="event.color.secondary"
              (colorPickerChange)="eventForm.patchValue({color:{secondary: event.color.secondary}})" />
          </mat-form-field>
        </div>

        <div class="flex flex-col w-full">
          <mat-form-field>
            <input matInput [matDatepicker]="startDateDP" placeholder="Start Date" name="startDate"
              formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
            <mat-datepicker #startDateDP></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="endDateDP" placeholder="End Date" name="endDate" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
            <mat-datepicker #endDateDP></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex flex-col w-full">
          <mat-form-field formGroupName="meta" class="">
            <input matInput name="location" formControlName="location" placeholder="Location">
          </mat-form-field>

          <mat-form-field formGroupName="meta" class="">
            <textarea matInput formControlName="notes" placeholder="Notes" max-rows="4">
            </textarea>
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>

  <div class="m-0 px-6 py-4 flex items-center justify-end gap-2">
    <button *ngIf="action ==='edit'" mat-stroked-button color="warn" (click)="dialogRef.close({action: 'delete'})"
      aria-label="Delete" matTooltip="Delete">
      <mat-icon>delete</mat-icon> Delete
    </button>

    <button mat-flat-button color="primary" (click)="dialogRef.close({action: 'save', event: eventForm.value})"
      [disabled]="eventForm.invalid" aria-label="SAVE">
      Save
    </button>


  </div>
</div>