@use "sass:map";

/* Class assigned to popover wrapper */
.driver-popover {
    background-color: rgb(var(--bg-card));
    color: rgb(var(--fg-base));
}

/* Arrow pointing towards the highlighted element */
.driver-popover-arrow {}

/* Title and description */
.driver-popover-title, .driver-popover-description {
    font-family: var(--font-family-base);
}
.driver-popover-description {}

/* Close button displayed on the top right corner */
.driver-popover-close-btn {}

/* Footer of the popover displaying progress and navigation buttons */
.driver-popover-footer {
    margin-top: 24px;
}
.driver-popover-progress-text {
    color: rgb(var(--slate-500));
}
.driver-popover-navigation-btns button {
    font-size: 14px;
    color: white;
    text-shadow: none;
    border: none;
    &:hover {
        background-color: rgb(var(--bg-hover));
    }
    box-shadow: var(--mdc-protected-button-container-elevation-shadow);
}
.driver-popover-prev-btn {
    background-color: rgba(var(--color-primary), .8) !important;
}
.driver-popover-next-btn {
    background-color: rgb(var(--color-primary)) !important;
}
.driver-popover-btn-disabled {
    background-color: rgb(var(--bg-disabled));
    color: rgb(var(--fg-hint));
    box-shadow: none !important;
}