<mat-card class="p-4 max-w-[750px] !my-6 !mx-auto">
  <h2 class="text-2xl font-bold mb-4">Background Colors</h2>
  <div class="flex flex-wrap gap-4 mb-8">
    <div class="flex flex-col items-center gap-2">
      <div class="bg-base w-[100px] h-[100px] rounded-md border border-divider"></div>
      <p class="text-base">.bg-base</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-card w-[100px] h-[100px] rounded-md border border-divider"></div>
      <p class="text-card">.bg-card</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-hover w-[100px] h-[100px] rounded-md border border-divider"></div>
      <p class="text-hover">.bg-hover</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-primary w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-primary</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-accent w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-accent</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-warn w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-warn</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <div class="bg-info w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-info</p>
    </div>

    <div class="flex flex-col items-center gap-2">
      <div class="bg-slate-500 w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-slate-500</p>
    </div>

    <div class="flex flex-col items-center gap-2">
      <div class="bg-gray-500 w-[100px] h-[100px] rounded-md"></div>
      <p class="text-base">.bg-gray-500</p>
    </div>

  </div>

  <h2 class="text-2xl font-bold">Text Colors</h2>

  <div class="flex flex-wrap gap-4 mb-8">
    <div class="flex flex-col items-center gap-2">
      <p class="text-base">.text-base</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-secondary">.text-secondary</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-slate-500">.text-slate-500</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-gray-500">.text-gray-500</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-hint">.text-hint</p>
    </div>

    <div class="flex flex-col items-center gap-2">
      <p class="text-primary">.text-primary</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-accent">.text-accent</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-warn">.text-warn</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-success">.text-success</p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <p class="text-info">.text-info</p>
    </div>
  </div>

  <h2 class="text-2xl font-bold">Border & Divider</h2>
  <div class="flex flex-wrap gap-4 mb-8">
    <div class="flex flex-col items-center gap-2 border border-black rounded-md p-2">
      <p class="text-base m-0">.border .border-black</p>
    </div>
    <div class="flex flex-col items-center gap-2 border border-divider rounded-md p-2">
      <p class="text-base m-0">.border .border-divider</p>
    </div>
    <div class="flex flex-col items-center gap-2 border border-slate-400 rounded-md p-2">
      <p class="text-base m-0">.border .border-slate-400</p>
    </div>
  </div>
</mat-card>