<div class="flex flex-wrap gap-6">
  <div class="flex flex-col w-full xl:w-[calc(50%-12px)]">
    <!-- Time line -->
    <mat-card class="default shadow-md mb-6">
      <h3 class="mx-6 my-5 text-xl font-semibold">Timeline</h3>
      <mat-card-content>
        <div class="relative overflow-hidden">
          <!-- Timeline vertical line -->
          <div class="absolute top-10 bottom-0 left-6 w-px bg-slate-200"></div>
          
          <div class="w-full overflow-hidden mb-8">
            <div class="float-left relative mr-7 h-12 w-12 rounded-full overflow-hidden shadow-sm border-2 border-gray-100">
              <img src="assets/images/face-6.jpg" class="max-w-full" alt="">
            </div>
            <div class="float-right w-[calc(100%-78px)]">
              <div class="flex mb-2 items-center">
                <a href="#" class="mr-4 rtl:ml-4 font-medium text-primary hover:underline"><b>Jhone Doe</b> updated his status</a>
                <span class="text-secondary text-sm">1 hour ago</span>
                <span class="flex-grow"></span>
              </div>
              <div class="mb-3">
                <p class="leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at
                  sunt mollitia repellendus deserunt, libero similique.</p>
              </div>
              <div class="mb-2">
                <a href="#" class="mr-4 rtl:ml-4 text-slate-500 hover:text-primary transition-colors text-sm font-medium">Like</a>
                <a href="#" class="text-slate-500 hover:text-primary transition-colors text-sm font-medium">Comment</a>
              </div>
            </div>
          </div>

          <div class="w-full overflow-hidden mb-8">
            <div class="float-left relative mr-7 h-12 w-12 rounded-full overflow-hidden shadow-sm border-2 border-gray-100">
              <img src="assets/images/face-2.jpg" class="max-w-full" alt="">
            </div>
            <div class="float-right w-[calc(100%-78px)]">
              <div class="flex mb-2 items-center">
                <a href="#" class="mr-4 rtl:ml-4 font-medium text-primary hover:underline"><b>Henry krick</b> added a new photo</a>
                <span class="text-secondary text-sm">15 hours ago</span>
                <span class="flex-grow"></span>
              </div>
              <div class="mb-3">
                <img src="assets/images/photo-600_220.jpg" class="rounded-md shadow-sm max-w-full" alt="">
              </div>
              <div class="mb-2">
                <a href="#" class="mr-4 rtl:ml-4 text-slate-500 hover:text-primary transition-colors text-sm font-medium">Like</a>
                <a href="#" class="text-slate-500 hover:text-primary transition-colors text-sm font-medium">Comment</a>
              </div>
            </div>
          </div>

          <div class="w-full overflow-hidden mb-8">
            <div class="float-left relative mr-7 h-12 w-12 rounded-full overflow-hidden">
              <mat-icon class="icon-badge mat-bg-primary text-center !w-12 !h-12 leading-[48px]">settings</mat-icon>
            </div>
            <div class="float-right w-[calc(100%-78px)]">
              <div class="flex mb-2 items-center">
                <a href="#" class="mr-4 rtl:ml-4 font-medium text-primary hover:underline"><b>New follower</b></a>
                <span class="text-secondary text-sm">2 days ago</span>
                <span class="flex-grow"></span>
              </div>
              <div class="mb-3">
                <p class="leading-relaxed"><a class="text-primary font-medium hover:underline" href="">Kevin Huyn</a> and 34 others followed you.</p>
              </div>
              <div class="mb-2">
                <a href="#" class="mr-4 rtl:ml-4 text-slate-500 hover:text-primary transition-colors text-sm font-medium">Like</a>
                <a href="#" class="text-slate-500 hover:text-primary transition-colors text-sm font-medium">Comment</a>
              </div>
            </div>
          </div>

          <div class="w-full overflow-hidden mb-6">
            <div class="float-left relative mr-7 h-12 w-12 rounded-full overflow-hidden">
              <mat-icon class="icon-badge mat-bg-warn text-center !w-12 !h-12 leading-[48px]">settings</mat-icon>
            </div>
            <div class="float-right w-[calc(100%-78px)]">
              <div class="flex mb-2 items-center">
                <a href="#" class="mr-4 rtl:ml-4 font-medium text-primary hover:underline"><b>Membership upgraded</b></a>
                <span class="text-secondary text-sm">5 days ago</span>
                <span class="flex-grow"></span>
              </div>
              <div class="mb-3">
                <p class="leading-relaxed">Membership has been upgraded to pro</p>
              </div>
              <div class="mb-2">
                <a href="#" class="mr-4 rtl:ml-4 text-slate-500 hover:text-primary transition-colors text-sm font-medium">Like</a>
                <a href="#" class="text-slate-500 hover:text-primary transition-colors text-sm font-medium">Comment</a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- End Time line -->

    <mat-card class="default shadow-md">
      <h3 class="mx-6 my-5 text-xl font-semibold">Uploaded Photos</h3>
      <mat-card-content class="p-0">
        <mat-grid-list cols="3" rowHeight="1:1" class="app-gallery">
          <!-- Gallery item -->
          <mat-grid-tile *ngFor="let photo of photos">
            <img [src]="photo.url" alt="" class="transition-all duration-300">
            <!-- item detail, show on hover -->
            <div class="gallery-control-wrap bg-black/40 backdrop-blur-sm">
              <div class="gallery-control flex p-3">
                <h4 class="photo-detail text-white font-medium">{{photo.name}}</h4>
                <span class="flex-grow"></span>
                <button mat-icon-button [matMenuTriggerFor]="photoMenu" class="text-white">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #photoMenu="matMenu">
                  <button mat-menu-item><mat-icon>send</mat-icon>Send as attachment</button>
                  <button mat-menu-item><mat-icon>favorite</mat-icon>Favorite</button>
                  <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                </mat-menu>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex flex-col w-full xl:w-[calc(50%-12px)]">
    <mat-card class="default shadow-md mb-6">
      <h3 class="mx-6 my-5 text-xl font-semibold">Support Tickets</h3>
      <mat-card-content class="p-0">
        <div class="flex flex-row items-center px-4 py-4 border-b border-divider hover:bg-hover transition-colors" *ngFor="let t of tickets">
          <img class="mr-4 rtl:ml-4 w-10 h-10 rounded-full border-2 border-gray-100 shadow-sm" [src]="t.img" alt="">
          <div class="flex w-full items-center">
            <h6 class="m-0 mr-4 rtl:ml-4 font-medium">{{t.name}}</h6>
            <span class="flex-grow"></span>
            <div class="w-2/5 text-secondary truncate">{{t.text | excerpt:20 }}</div>
            <span class="flex-grow"></span>
            <small class="text-slate-500 mr-4 rtl:ml-4 ml-4 rtl:mr-4 rtl:ml-4 whitespace-nowrap">{{ t.date | relativeTime}}</small>
          </div>
          <mat-chip-listbox>
            <mat-chip-option mat-sm-chip [color]="t.isOpen ? 'primary' : 'warn'" [selected]="t.isOpen" class="font-medium text-xs">
              {{t.isOpen ? 'active' : 'closed'}}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="text-center p-3">
          <button mat-button class="full-width text-primary hover:bg-primary-50">View all tickets</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="default shadow-md">
      <h3 class="mx-6 my-5 text-xl font-semibold">Assigned Tasks</h3>
      <mat-card-content class="p-0">
        <div class="mb-0">
          <div class="flex items-center px-4 py-4 border-b border-divider hover:bg-hover transition-colors" *ngFor="let t of tasks">
            <mat-checkbox class="mr-4 rtl:ml-4"></mat-checkbox>
            <span class="">{{t.text}}</span>
            <span class="flex-grow"></span>
            <mat-chip mat-sm-chip [color]="t.status ? 'primary' : 'warn'" [selected]="t.status ? true : false" class="font-medium text-xs">
              {{t.status ? 'completed' : 'pending'}}
            </mat-chip>
            <button mat-icon-button mat-sm-button [matMenuTriggerFor]="taskMenu" class="tasktype-action ml-4 rtl:mr-4 rtl:ml-4 text-slate-500">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #taskMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>done</mat-icon>
                <span>Completed</span>
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="text-center p-3">
          <button mat-button class="full-width text-primary hover:bg-primary-50">View all tasks</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>