<mat-card class="p-4 max-w-[750px] !my-6 !mx-auto">
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-1 my-0 mr-4 rtl:ml-4">Headline 1</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-headline-1	&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-2 my-0 mr-4 rtl:ml-4">Headline 2</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-headline-2	&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-3 my-0 mr-4 rtl:ml-4">Headline 3</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-headline-3	&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-4 my-0 mr-4 rtl:ml-4">Headline 4</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-headline-4	&quot;></span>'
          "></code></pre>
        </div>
    </div>

    
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-5 my-0 mr-4 rtl:ml-4">Headline 5</span>
      <div>
          <pre><code egretHighlight="
            <span class=&quot;mat-headline-5&quot;></span>
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-headline-6 my-0 mr-4 rtl:ml-4">Headline 6</span>
      <div>
          <pre><code egretHighlight="
            <span class=&quot;mat-headline-6&quot;></span>
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-subtitle-1 my-0 mr-4 rtl:ml-4">subtitle 1</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-subtitle-1&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-subtitle-2 my-0 mr-4 rtl:ml-4">subtitle 2</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-subtitle-2&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-heading-label my-0 mr-4 rtl:ml-4">Heading Label</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-heading-label&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-body-1 my-0 mr-4 rtl:ml-4">Body 1</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-body-1&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-body-2 my-0 mr-4 rtl:ml-4">Body 2</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-body-2&quot;></span>'
          "></code></pre>
        </div>
    </div>
    <div class="flex flex-wrap justify-between items-center mb-6">
      <span class="mat-caption my-0 mr-4 rtl:ml-4">Caption</span>
      <div>
          <pre><code [egretHighlight]="
            '<span class=&quot;mat-caption&quot;></span>'
          "></code></pre>
        </div>
    </div>


  </mat-card>